@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap");
@import url("../../public/font/stylesheet.css");

:root {
  --text-font-accent: "Century Gothic";
  --text-font-main: "Noto Sans";

  --text-main: #01457a;

  --container-max-width: 1380px;

  --ui-yellow-to-green-gradient: linear-gradient(90deg, #fdd966 0%, #bcd77e 68.54%);
  --border-gradient: linear-gradient(265.25deg, #01457a 0%, #43a7c7 43.23%, #bcd77e 74.48%, rgba(188, 215, 126, 0) 100%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: var(--text-font-main), sans-serif;
  color: var(--text-main);
  min-height: 100vh;
  min-height: 100svh;
  background: linear-gradient(180deg, #ffffff 35.7%, #d8efff 100%);
}

.container {
  max-width: var(--container-max-width);
  padding: 20px;
  margin: 0 auto;
}
