.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: 0px clamp(20px, 0.682rem + 2.84vw, 45px) 93px;

  background-color: #fff;
  box-shadow: 0px 0px 25px 0px #8ea0ad59;
}
.article:not(:last-child) {
  margin-bottom: 100px;
}
.links {
  display: flex;
  flex-direction: column;
  gap: 40px;

  list-style: none;
}
.iconContainer {
  flex-shrink: 0;
  width: 80px;
  height: 80px;
}
.iconContainer img {
  max-width: 100%;
  object-fit: contain;
}

.question {
  padding: 6px 47px 10px 0px;

  text-align: left;
  background-image: url("../../public/icons/question-background.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
.question p,
.question strong {
  max-width: 248px;

  font-size: clamp(18px, 1.05rem + 0.38vw, 24px);
  font-weight: 400;
  line-height: 1.3;
}
.question strong {
  font-weight: 700;
}

.text {
  text-align: left;
  max-width: 767px;

  font-size: clamp(14px, 0.75rem + 0.63vw, 24px);
}
.text p {
  height: clamp(40px, 2.175rem + 1.63vw, 66px);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;

  text-overflow: clip;
}

.text span {
  background-image: linear-gradient(to top, rgba(156, 156, 156, 0), var(--text-main));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.highlight {
  width: 100%;
  padding: 22.5px;
  text-align: center;
  background: var(--ui-yellow-to-green-gradient);
  border-radius: 20px;

  font-weight: 700;
  font-size: clamp(14px, 0.557rem + 1.59vw, 28px);
  text-wrap: balance;
}

.subheading {
  margin-top: 40px;
  margin-bottom: 50px;
  text-align: center;

  font-size: clamp(16px, 0.818rem + 0.91vw, 24px);
  font-weight: 700;
}

.grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  list-style: none;
}
.card {
  height: 608px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 30px 19px;

  text-align: center;
  background: linear-gradient(90deg, #fbfdff 0%, #d8efff 100.86%);
  border-radius: 20px;
  box-shadow: 0px 0px 25px 0px #8ea0ad59;

  font-size: clamp(16px, 0.795rem + 1.02vw, 24px);
  text-overflow: ellipsis;
}
.icon {
  position: relative;
  width: 125px;
  height: 100px;
  margin-right: 45px;
  margin-bottom: 40px;
}
.icon span {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  bottom: -40px;
  right: -45px;
  width: 80px;
  height: 80px;

  background: var(--ui-yellow-to-green-gradient);
  border-radius: 50%;

  font-size: clamp(20px, 0.614rem + 3.18vw, 48px);
  font-weight: 700;
  line-height: 65px;
}
.icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.card h3,
.card h3 strong {
  font-size: clamp(20px, 1.068rem + 0.91vw, 28px);
  font-weight: 500;
}
.card h3 strong {
  font-weight: 700;
}
.description {
  font-size: 24px;
}

.arrows {
  display: flex;
  width: 70%;
  margin: 0 auto;
  gap: 30px;
}
.arrows div {
  width: 50%;
}
.arrows div img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.row {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.cardDescription {
  height: 400px;

  flex: 1 300px;
  overflow: hidden;
  padding: 30px 40px;
  border-radius: 20px;
  background: linear-gradient(90deg, #fbfdff 0%, #d8efff 100.86%);
  box-shadow: 0px 0px 25px 0px #8ea0ad59;

  font-size: clamp(1rem, 0.818rem + 0.91vw, 1.5rem);
  text-align: left;
}

@media (max-width: 1050px) {
  .arrows {
    display: none;
  }
  .row {
    margin-top: 40px;
  }
}
@media (max-width: 1024px) {
  .highlight {
    padding: 12px;
  }
  .subheading {
    margin-top: 20px;
    margin-bottom: 25px;
  }
  .icon {
    margin-right: 25px;
    margin-bottom: 25px;
  }
  .icon span {
    width: 60px;
    height: 60px;

    bottom: -25px;
    right: -25px;
  }
}

@media (max-width: 670px) {
  .card {
    height: 450px;
  }
}
@media (max-width: 480px) {
  .card {
    height: 450px;
  }

  .icon {
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .icon span {
    width: 50px;
    height: 50px;

    bottom: -20px;
    right: -20px;
  }
}
